[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "*"
faker = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python manage.py runserver"
lint = "flake8 --max-line-length=120 --ignore=E203,W503,W504 ."
format = "black ."

[pipenv]
allow_prereleases = true
