{% extends 'blog/base.html' %}

{% load static %}
{% block content %}
{% for post in posts %}
<div class="post">
    <div class="date">
        <p>published: {{ post.published_date }}</p>
    </div>
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaksbr }}</p>
    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
</div>
{% endfor %}
<div id="react-entry"></div>
<script src="{% static 'dist/js/main.js' %}"></script>
{% endblock %}
