.wrapper {
  display: inline-block;
  position: relative;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  border-color: black;
  color: white;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  position: absolute;
  z-index: 1;
  display: block;
}

.wrapper:hover .tooltip {
  visibility: visible;
}

.top {
  bottom: calc(100% + 5px); /* 5px for the arrow */
}

.top::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-top-color: inherit;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.bottom {
  top: calc(100% + 5px); /* 5px for the arrow */
}

.bottom::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: inherit;
  border-left-color: transparent;
}

.right {
  top: 0;
  left: calc(100% + 5px); /* 5px for the arrow */
}

.right::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: inherit;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.left {
  top: 0;
  right: calc(100% + 5px); /* 5px for the arrow */
}

.left::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}
