.check {
  display: none;
}

.label {
  display: flex;
}

.iconWrapper {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  transition: all 0.2s;
}

.item {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s;
  overflow: hidden;
}

.check:checked + .label + .item {
  max-height: 100vh;
  opacity: 1;
}

.check:checked + .label .icon {
  transform: rotate(-180deg);
}
